[2016-06-02 09:09] thabart opened #1 "Implement the RFC-7232"
=> Returns Etag & LastModificationDate : DONE
=> Support parameter : If-Match : DONE
=> Support sqlserver & redis storage : DONE
=> Support others parameters : If-None-Match & If-Modified-Since & If-Unmodified-Since : DONE
=> Later : implement the "If-Range" parameter & process the "Range" parameter

[2016-06-02 13:01] #1 closed

[2016-06-02 14:08] thabart opened #2 "Migrate Bson formatter"
=> Create input formatter : IN PROGRESS
=> Create output formatter  : TODO

[2016-06-18 10:25] damienbod opened #3 "Add a CSV InputFormatter OutputFormatter"
@tugberkugurlu, @filipw All

Do you think this would be a good project for this repository. Robust input, output formatters could be created which can work with different types of arrays, collections, and maybe dictionaries.

Also different type of delimiters could be supported.

Some starting points:

https://github.com/damienbod/AspNetCoreCsvImportExport/tree/master/src/AspNetCoreCsvImportExport

[2016-06-18 11:03] filipw commented on #3
yep, absolutely, this is exactly why this project has been created

[2016-06-18 18:21] damienbod commented on #3
Ok, I'll create an initial version and create a pull request then.

Greetings Damien

[2016-06-18 20:14] filipw commented on #2
@thabart please do not push directly to the repo, always open PRs, thanks

[2016-06-19 07:09] filipw opened #6 "Set up Nuget package release"
Ideally we'd split into `master` and `dev` branches and we can release pre release packages automatically from `dev`, and once we are ready / happy enough with the functionalities, we can merge to `master` which will release the stable package.

[2016-06-19 07:10] filipw opened #7 "Improve the readme"

[2016-06-19 07:12] filipw opened #8 "Microsoft.Extensions.Caching.Redis"
@thabart why is `Microsoft.Extensions.Caching.Redis` internalized?

[2016-06-19 08:04] damienbod opened #9 "clone and build solution not working"
When I checkout the project, I cannot build the project due to missing Redis dependencies.

WebApiContrib.Core.Concurrency.Integration.Tests

and

WebApiContrib.Core.Concurrency.Redis

I think this should work per default, or at least a simple readme should be supplied.

Greetings Damien

[2016-06-19 08:06] filipw commented on #9
the problem is with VS tooling as it can't handle `net451` vs `net46` framework monikers.
try running `dotnet build src\WebApiContrib.Core.Concurrency` from the command line and then rebuild in VS

[2016-06-19 08:17] damienbod commented on #9
Did the trick, thanks, maybe I add a readme for this, what do you think?

[2016-06-19 08:18] filipw commented on #9
I think the real solution is to align the monikers and replace all `net46` with `net451`. I am not sure why they are there in the first place but I assume that's by mistake

[2016-06-19 08:21] damienbod commented on #9
Do we need to support 451? Why not just netstandard1.5? 462 will support this.

[2016-06-19 08:24] filipw commented on #9
because MVC is cross compiled against 451 for the time being https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/project.json#L60 so you wanna support all users

[2016-06-19 08:27] damienbod commented on #9
OK

[2016-06-19 10:12] damienbod commented on #3
- First version will support  definition of delimiters in setup for example ',' or ';' => default is ';'
- Media type : "text/csv"
- support for  arrays, lists, collections with class containing properties or public fields only.

Ok?

[2016-06-19 10:30] filipw commented on #3
sure

[2016-06-19 16:09] filipw opened #11 "AppVeyor should build entire solution"
Right now it builds `dotnet build src\WebApiContrib.Core.Concurrency`

[2016-06-19 16:24] damienbod commented on #3
I have added a test sample to test the csv formatters.

Works now for Lists for classes with properties and the different configuration options.

If you want to see the latest version and give early feedback:

https://github.com/damienbod/WebAPIContrib.Core/tree/devCsvFormatters

TODO:
- support for classes with field properties
- support / test for array, collection types etc
- Unit tests or Inte

[2016-06-19 16:24] filipw commented on #11
this applies to PRs too

[2016-06-19 16:29] filipw commented on #3
imho this is not needed, this is very Java-like, I think it's safe to assume .NET POCOs always have public properties not public fields

also wouldn't worry about integration testing atm

[2016-06-19 17:37] filipw opened #12 "Pin dependencies"
Currently the dependencies are listed as `1.0.0-*` which can cause stability problems (based on my experience from other projects)

[2016-06-19 18:54] damienbod commented on #3
Ok, Array and IList now work for Input and output formatters

I'll create a pull request, and you can give me feedback. Thanks

Greetings Damien

[2016-06-19 19:35] filipw opened #14 "Add an OverrideFilterProvider"
I've got an implementation of `FilterOverride` from Web API 2 ported to ASP.NET Core, nice candidate for a new feature

[2016-06-20 08:41] filipw commented on #7
I pushed a first version of the readme, let's use this as a starting point https://github.com/WebApiContrib/WebAPIContrib.Core/blob/master/README.md

I pushed directly so that we have something, but going forward let's always go through PRs for this - for visibility/transparency purposes

[2016-06-20 10:48] filipw opened #16 "Do we want to take dependency on Microsoft.AspNetCore.Mvc.WebApiCompatShim?"
There is a lot of interesting things allowing folks to bridge between Web API and MVC Core in [Microsoft.AspNetCore.Mvc.WebApiCompatShim](https://github.com/aspnet/Mvc/tree/dev/src/Microsoft.AspNetCore.Mvc.WebApiCompatShim)

As a result, there are a bunch of interesting things we could offer people _if only_ we decide to take dependency on it. I personally consider `WebApiCompatShim` more of a `We

[2016-06-20 10:49] filipw commented on #3
closed with #13
For any outstanding changes, let's open new issues.

[2016-06-20 10:49] #3 closed

[2016-06-20 10:59] damienbod opened #17 "Add readme documentation for CSV Formatter"
Add a readme for the CSV Formatter at the project level
Link this readme in the main readme.

[2016-06-20 18:07] filipw opened #19 "Structural changes"
- single repo for better code governance and better overview
- many solutions in a repo allowing folks to open and work only on the specific thing they want to work on - for example, each of the projects here https://github.com/WebApiContrib/WebAPIContrib.Core/tree/master/src should have its own solution file
- each of them can have separate versioning (no need for a shared version across all proj

[2016-06-20 19:51] #14 closed

[2016-06-21 13:09] panesofglass commented on #19
:+1:

[2016-06-21 13:42] damienbod commented on #19
How will you separate the features / packages?

- folder (pro feature)
--- sln file
--- src projects (test projects, sample projects, feature project)

Greetings Damien

[2016-06-21 20:34] Sphiecoh commented on #11
What do you think about using CAKE , I can maybe help .

[2016-06-22 05:56] damienbod commented on #17
https://github.com/WebApiContrib/WebAPIContrib.Core/pull/23

[2016-06-22 07:01] #17 closed

[2016-06-22 08:22] filipw opened #26 "remove all #regions"
:trollface:

[2016-06-22 21:07] filipw commented on #11
I think maybe Fake would be a better choice? @panesofglass

[2016-06-24 13:26] filipw opened #30 "Migrate JSONP formatter"
Probably barely relevant anymore with CORS but from my experience I know some folks still use (enterprise, eh?)

It will be easy to migrate https://github.com/WebApiContrib/WebApiContrib.Formatting.Jsonp

[2016-06-28 08:31] #30 closed

[2016-07-04 08:32] filipw opened #35 "Add support for setting "root" page in WebPages"
WebPages should allow us to pass in a "default" view name for the root URL.

Currently it's not possible to access `{server_root}`, we only support `{server_root}/{viewname}`

[2016-07-05 06:59] #35 closed

[2016-07-06 13:25] filipw opened #37 "Investigate MVC Core dependency in Web Pages"
Currently we register `Mvc Core` as part of Web Pages set up.
I think we could fairly easily just register the Razor pieces.

https://github.com/WebApiContrib/WebAPIContrib.Core/blob/master/src/WebApiContrib.Core.WebPages/WebPagesServiceCollectionExtensions.cs#L24

[2016-07-07 13:15] filipw opened #38 "Add customization to the "views" folder for WebPages"
Currently we mandate the use of `/Views` which is OK, but can easily be customized.

[2016-07-08 19:06] filipw opened #39 "Add build scripts"
Related to #6 and #11

[2016-07-18 08:03] abpatel commented on #26
working on this.

[2016-07-19 05:29] abpatel commented on #11
Did you have to write any custom scripts for the appveryor build or was it plug and play ?

[2016-07-19 08:54] filipw commented on #26
fixed by #48

[2016-07-19 08:54] #26 closed

[2016-07-19 08:54] filipw commented on #38
fixed by #40

[2016-07-19 08:54] #38 closed

[2016-07-19 15:10] panesofglass commented on #11
I'm partial to FAKE or even just simple powershell/bash scripts, depending on what's needed.

[2016-07-19 15:13] panesofglass commented on #39
I'll take a look later this week to see whether I can contribute a FAKE script to manage the builds.

[2016-07-19 15:18] filipw commented on #39
thanks that would be great! I added this few days ago as a temp solution https://github.com/WebApiContrib/WebAPIContrib.Core/pull/41

it's FAKE + Fake.Dotnet (a wrapper around dotnet-cli). However Fake.Dotnet is windows only at the moment (since it has hardcoded references to Windows paths and to ps1 installation script).

I guess the solution would be to wrap the dotnet-cli commands with FAKE tas

[2016-07-19 15:21] filipw commented on #11
FAKE would work at the end of the day `dotnet`, it's just invoking CLI commands
Basically we'd need something like this https://github.com/fsharp/FAKE/blob/master/src/app/FakeLib/OpenCoverHelper.fs

Currently app veyor is just invoking dotnet cli commands one after another. The build script we have here is not used yet on app veyor but that's because the build script should change from windows onl

[2016-07-19 15:28] panesofglass commented on #39
@filipw See https://github.com/dolly22/FAKE.Dotnet/issues/3. I imagine this will be resolved soon knowing @sforkmann. If not, I may pitch in to get it working. Wrapping commands is not that tough; I've done it a lot lately at work.

[2016-07-19 15:31] panesofglass commented on #39
Looks like CAKE already has this covered: http://cakebuild.net/dsl/dotnetcore. In all fairness, I'm not sure either is necessary at this point. Seems easy enough to write simple bash and powershell scripts. Or would you prefer to have a single script for the build logic and just call it from those scripts?

[2016-07-19 15:33] panesofglass commented on #6
Related to #39

[2016-07-19 15:37] panesofglass commented on #6
You could also keep master as latest code (released as alpha? beta?) and use tags to release final versions. See example at https://github.com/Tachyus/gluon/blob/master/build.fsx#L75-L82.

[2016-07-19 15:39] panesofglass commented on #19
@filipw how are you managing versions? `AssemblyInfo.cs` in each project? How is the version increment enforced?

[2016-07-19 15:40] filipw commented on #6
yep that would work too

[2016-07-19 15:43] filipw commented on #19
these are project.jsons so there is no `AssemblyInfo` - each `project.json` has a `version` property

Would be nice to set it up in a way that you have RELEASE_NOTES.md, you document everything and bump versions there using markdown headers and then the build script parses that, updates project.json on the fly, builds the nuget package and injects the release notes there. That's the set up I've us

[2016-07-19 15:43] filipw commented on #19
But bottom line, it would be better to version each project separately since they have no cross dependencies

[2016-07-19 16:04] abpatel commented on #11
So is appveyor just doing a normal vanilla build on the codebase?
Ultimately are you looking to port the build script you have here to FAKE?

[2016-07-19 23:43] dazinator opened #49 "Adapt WebPages to use IFileProvider"
Just came here after hearing about this project on the aspnet community standup!

Looks like sone nice stuff here.

I noticed the webpages stuff uses a router that checks the physical file system for existence of a cshtml file. Dont think there us any need for that, it should probably just use the IHostingEnvironment's content file provider (IFileProvider) instead. This will allow the cshtml file

[2016-07-20 05:14] filipw commented on #49
Absolutely, that would be great!

[2016-07-26 12:19] #39 closed

[2016-07-29 15:02] dazinator opened #52 "addTagHelper directive and assembly name globbing"
I recently implemented an `ITagHelperTypeResolver` explained in [this post](http://darrelltunnell.net/blog/2016/07/25/aspnet-core-taghelper-s-a-better-addtaghelper-type-resolver/) that basically allows you to use `addTagHelper` directives like this

[code]

That will import all TagHelper's from all assemblies matching the glob.
As you reference new assemblies matching that glob, (or load them at r

[2016-07-29 16:28] filipw commented on #52
Absolutely!
On Jul 29, 2016 5:02 PM, "Darrell" <notifications@github.com> wrote:

[2016-07-29 17:08] dazinator commented on #52
Ok - where would you want this to live? I was thinking of adding it to the `WebAPiContrib.Core` project, and then adding a method to:

[code]

[2016-07-29 17:11] dazinator commented on #52
Actually it might make sense putting this in `WebApiContrib.Core.WebPages` as that project has the dependency on `Razor` which I need.

[2016-07-29 17:15] dazinator commented on #52
On second thoughts, I think perhaps adding a new project `WebApiContrib.Core.Razor` is merited. I'll submit a PR based on that.

[2016-07-29 17:55] dazinator commented on #52
PR submitted

[2016-07-29 18:00] dazinator commented on #52
I have noticed that in the `WebApiContrib.Core.Samples` project, if you browse to `/Markdown/Sample` - the markdown sample doesn't seem to work.. has this always been broken? I think it might have because I can't see any `addTagHelper` directive for the markdown tag helper anywhere. Perhaps it needs to be fixed or removed?

[2016-07-31 02:06] #52 closed

[2016-08-17 06:24] #49 closed

[2016-08-22 13:05] JanSichula opened #61 "Does WebApiContrib.Core.WebPages support use of "UrlData[0]"?"
Hello,

I am excited about WebApiContrib.Core.WebPages as it should potentially enable us to quickly and easily migrate our small internal church video archive to ASP.NET Core 1.0 with hosting on Linux.
However, does this implementation support use of "UrlData[0]" as documented in http://www.asp.net/web-pages/overview/routing/creating-readable-urls-in-aspnet-web-pages-sites? Our video site is maki

[2016-08-23 18:40] cecilphillip commented on #16
What are some of the things you're thinking about offering ? I don't see anything wrong with taking a dependency on it in an add-on package.

[2016-08-24 08:12] filipw commented on #61
No not at the moment, sorry

[2016-09-15 14:20] filipw opened #62 "Update to .NET core 1.0.1"
https://blogs.msdn.microsoft.com/dotnet/2016/09/13/announcing-september-2016-updates-for-net-core-1-0/

[2016-11-22 14:39] damienbod opened #78 "Update to .NET Core 1.1.0"
Would like to update to 1.1.0.
@filipw All
Should we follow the LTS releases or the current for this? (I would prefer to follow the current).

https://www.microsoft.com/net/download/core

If we go with the current .NET Core will we update the versions to 1.1.0?

Greetings Damien

[2016-11-24 13:10] filipw commented on #78
here is a good thread https://twitter.com/leastprivilege/status/801723059149357056

[2016-11-25 09:30] damienbod commented on #78
These are security issues, do we use these anywhere? As we are just building libraries, this should not be a problem for devs using the packages from LTS.

Maybe it makes sense to stick with the LTS.

I also require a new NuGet package for the https://www.nuget.org/packages/WebApiContrib.Core.Formatter.Csv/

(fix from the last pull request)

Greetings Damien

[2016-11-25 09:57] filipw commented on #78
I added you as owner in nuget

[2016-11-25 10:14] #9 closed

[2016-11-25 10:49] damienbod commented on #78
This account?
https://www.nuget.org/profiles/damienbod

[2016-11-26 22:55] JohnGalt1717 opened #80 "CSV Formatter interfers with Swashbuckle"
If you add the formatter it will causes the swagger.json file to error and not be returned properly. I couldn't find a parameter in the options that would let me limit what would come back and when it would be applied.

[2016-11-27 13:01] damienbod commented on #80
Hi @JohnGalt1717

How do you add the formatter? It should be added in the Startup so that the json formatter remains the default formatter.

If it is just the method in the controller, you need to remove the specific produces csv and use the request header to define the content in the response.

Greetings Damien

[2016-11-27 14:39] JohnGalt1717 commented on #80
It's the first line of ConfigureServices just like the samples:

`            //Add MVC and allow requesting Bson, Plain Text, CSV and jsonp
            services.AddMvc(options =>
            {
                options.AddJsonpOutputFormatter();
            })
            .AddPlainTextFormatters(new PlainTextFormatterOptions
            {
                SupportedMediaTypes = new string[] { "text/p

[2016-11-27 20:01] damienbod commented on #80
This extension should not cause that problem, just adds a new input and output formatter for text/csv and json remains the default.

https://github.com/WebApiContrib/WebAPIContrib.Core/blob/master/src/WebApiContrib.Core.Formatter.Csv/CsvFormatterMvcBuilderExtensions.cs

The problem is either that swagger uses a default text/csv media header, which I doubt it, or the controller only returns csv.

C

[2016-12-02 08:42] filipw opened #81 "use real HttpContext in webpages"
Instead of https://github.com/WebApiContrib/WebAPIContrib.Core/blob/master/src/WebApiContrib.Core.WebPages/RazorViewToStringRenderer.cs#L70

[2016-12-12 14:27] #81 closed

[2016-12-19 07:24] filipw commented on #16
This can be handled on the per-feature basis if needed

[2016-12-19 07:24] #16 closed

[2017-02-10 11:02] damienbod opened #84 "Update to msbuild"
Time to leave the project.json for the unknown?

[2017-02-10 11:03] damienbod commented on #78
Think we sould do this together with msbuild
https://github.com/WebApiContrib/WebAPIContrib.Core/issues/84

[2017-02-10 11:03] damienbod commented on #62
Skip this and go to Current instead of LTS?

[2017-02-10 11:04] damienbod commented on #80
@JohnGalt1717 I'm closing this, let me know if you think this should be reopened.

Greetings Damien

[2017-02-10 12:17] filipw commented on #78
sure, although this is orthogonal to compiling the lib from `csproj` or `project.json`

[2017-02-13 13:45] JoseMarcenaro commented on #16
Good question, filipw
IMHO, the more pressing question is whether to use it or not when building **a new** Web API project (I wouldn't mind using it for compatibility purposes)
I would assume that the required extensions / conventions (i.e. HttpError) will be added to MVC Core at some point, with the same or an enhanced implementation. But maybe that is not intended.

[2017-02-14 20:57] damienbod commented on #84
https://github.com/WebApiContrib/WebAPIContrib.Core/pull/85

[2017-02-23 11:34] parmarnishant opened #87 "problem with localized data in CSV formatter"
How to set encoding for localized data ?
My content is in german and french and file is not displaying localized strings.
It is configurable ?

[2017-02-25 21:05] damienbod commented on #87
Is the format of the file correct?

Here's an example:
https://damienbod.com/2016/06/17/import-export-csv-in-asp-net-core/

[2017-03-01 09:31] khellang opened #89 "Versioning throws if Vary header already exists in dictionary"
[This line](https://github.com/WebApiContrib/WebAPIContrib.Core/blob/01c7a95a8527fdc0274c641c52459c33f3121c2b/src/WebApiContrib.Core.Versioning/VersionNegotiationResultFilter.cs#L71) throws if a `Vary` header already exists. We should change it to `Append` instead of `Add`.

[2017-03-04 02:38] #89 closed

[2017-03-22 12:43] #62 closed

[2017-04-05 20:29] markolbert opened #92 "Questions about Router Implementation"
Not looking a gift horse in the mouth here -- I wouldn't have been able to do some stuff in a project I'm working on without your WebPages library -- but I am curious about a couple of things.

In WebPagesRouter, is there a reason why you don't set RouteContext.Handler to a delegate which handles the rendering?

Also, I notice that you use IRazorViewEngineFileProviderAccessor.FileProvider to test

[2017-04-18 11:15] filipw opened #93 "Add parallel pipelines"
I think there is value in adding this piece https://www.strathweb.com/2017/04/running-multiple-independent-asp-net-core-pipelines-side-by-side-in-the-same-application/

[2017-04-18 13:27] sonphnt commented on #80
Hi @damienbod

I am having the problem now.

`services.AddMvc();

            services.AddMvc().AddJsonOptions(options =>
            {
                options.SerializerSettings.ContractResolver = new DefaultContractResolver();
                options.SerializerSettings.ReferenceLoopHandling = ReferenceLoopHandling.Ignore;
                options.SerializerSettings.PreserveReferencesHandling = Pr

[2017-04-18 13:59] damienbod commented on #80
@JohnGalt1717, @sonphnt  I'll try to reproduce and fix, will get back to you

[2017-04-18 14:27] sonphnt commented on #80
@damienbod Thanks very much. Hope to hear from you soon.

[2017-04-18 18:31] damienbod commented on #80
@JohnGalt1717 @sonphnt
This works for me, could you compare it with your solution?

https://github.com/damienbod/csvSwaggerExample

Greetings Damien

[2017-04-18 19:43] sonphnt commented on #80
Hi @damienbod
Your solution has only swagger in startup.cs. Please try to add your CSV framework and run again. I still have the error.

Thanks

[2017-04-18 20:00] damienbod commented on #80
@sonphnt Have the problem now, thanks

System.InvalidOperationException: No media types found in 'WebApiContrib.Core.Formatter.Csv.CsvInputFormatter.SupportedMediaTypes'. Add at least one media type to the list of supported media types.
   at Microsoft.AspNetCore.Mvc.Formatters.InputFormatter.GetSupportedContentTypes(String contentType, Type objectType)
   at Microsoft.AspNetCore.Mvc.ApiExplorer.D

[2017-04-18 20:02] sonphnt commented on #80
@damienbod Yes, exactly that error. Do you know why?

[2017-04-18 20:25] damienbod commented on #80
yes, missing SupportedMediaTypes, creating the nuget package now, 10 mins

Thanks for reporting

[2017-04-18 20:43] damienbod commented on #80
Install-Package WebApiContrib.Core.Formatter.Csv -Version 1.0.3

now works, thanks

[2017-04-19 09:32] sonphnt commented on #80
@damienbod Thanks. Worked perfectly now.

[2017-06-15 07:41] #93 closed

[2017-06-24 11:22] filipw opened #98 "Release 1.2.0"
We have quite enough to push 1.2.0 I think - let's do it this weekend.

[2017-07-02 08:11] andrewlock opened #103 "Add YAML formatters"
I saw that @damienbod recently added Protobuf formatters to the project, and I remembered that I had a Yaml output formatter lying around. Mostly for interest I created a project in the same style as the ProtoBuf project, in case you wanted to add it in?

I realise YAML format is pretty unusual for a wire format, but I needed it at one point (can't remember why now!) so someone might find it usefu

[2017-07-02 12:05] filipw commented on #103
Fixed by #104

[2017-07-02 12:05] #103 closed

[2017-07-03 06:33] filipw commented on #80
This was resolved

[2017-07-03 06:33] #80 closed

[2017-07-03 08:11] filipw commented on #19
This is already in place

[2017-07-03 08:11] #19 closed

[2017-07-03 08:12] filipw commented on #84
This was done

[2017-07-03 08:12] #84 closed

[2017-07-03 08:13] filipw commented on #7
Done

[2017-07-03 08:13] #7 closed

[2017-07-03 09:12] #8 closed

[2017-07-05 09:23] filipw commented on #98
Released - https://github.com/WebApiContrib/WebAPIContrib.Core/releases/tag/1.2.0

[2017-07-05 09:23] #98 closed

[2017-08-14 07:17] damienbod opened #108 "Update ASP.NET Core 2.0"

[2017-08-20 07:44] damienbod commented on #87
@parmarnishant @filipw
Can we close this?

[2017-08-20 07:44] #78 closed

[2017-08-20 07:44] damienbod commented on #11
close?

[2017-08-20 07:46] damienbod commented on #108
First PR:
https://github.com/WebApiContrib/WebAPIContrib.Core/pull/109

Will we continue to support anything older than 2.0? Or try a pro project strategy?

[2017-08-28 13:28] SGStino opened #111 "CSV under .NETStandard 2.0 library running on .NET 4.6.1 gives exceptions"
Method not found: 'Microsoft.Net.Http.Headers.MediaTypeHeaderValue Microsoft.Net.Http.Headers.MediaTypeHeaderValue.Parse(System.String)'.

Seems to be caused by: https://github.com/aspnet/HttpAbstractions/issues/847
They changed the method implementations from string to StringSegment.

And there seems to be an implic cast in StringSegment, fixing it compile time, but giving two distinct assemblies

[2017-08-28 13:37] SGStino commented on #111
https://github.com/NuGet/Home/issues/5370

So I'm guessing it's final there.

[2017-08-28 14:35] damienbod commented on #111
You should use the https://www.nuget.org/packages/WebApiContrib.Core.Formatter.Csv/1.0.3 with .NET 4.61

The netstandard 2.0 seems not the work with 4.6.1.

[2017-08-29 14:31] SGStino commented on #111
it works, if you manually take the correct dll

[2017-09-01 13:48] filipw commented on #111
@damienbod I think the simplest solution is to drop .netstandard1.6 and .net451 and just target netstandard2.0
It will not be the same, since netstandard2.0 supports .net461, but I don't think it's a big deal 😀

[2017-09-08 02:36] jdluzen commented on #111
I am getting this as well when targeting `netcoreapp2.0` using `WebApiContrib.Core.Formatter.Bson`. I read through the comments here, but am not entirely sure what the workaround is. Could someone please clarify?

[2017-09-08 03:48] damienbod commented on #111
I will create a new version which only supported 2.0. Nuget and .NET Standard seem to have problems with different versions.

[2017-09-08 12:34] filipw commented on #111
I think the entire `WebApiContrib.Core` should move to `netstandard2.0` - same as MVC did for all its packages. If some is on older MVC, they can use the older packages, and if someone is on latest MVC, well, then that would be the only way to get latest `WebApiContrib.Core` 😊

[2017-09-10 08:54] damienbod commented on #111
@SGStino
Only supports netstandard 2.0

https://www.nuget.org/packages/WebApiContrib.Core.Formatter.Csv/

[2017-09-10 08:55] damienbod commented on #108
@filipw
https://github.com/WebApiContrib/WebAPIContrib.Core/pull/112

[2017-09-11 11:51] SGStino commented on #111
thanks! that'll make life easier for deploys 👍

[2017-10-10 15:25] FrancoisM commented on #87
Change this [line](https://github.com/WebApiContrib/WebAPIContrib.Core/blob/5179dab6fe2717fc309a9155cf2cc7369a612309/src/WebApiContrib.Core.Formatter.Csv/CsvInputFormatter.cs#L87)
with
`var reader = new StreamReader(stream, Encoding.GetEncoding("ISO-8859-1"));`

[2017-10-14 17:43] damienbod commented on #87
Thanks, I'll fix this

[2017-10-17 16:09] rmccabe24 commented on #111
Hi, I'm using .net framework 4.6.2 - which version of your library should I reference?  v1.0.3 gives an error:

An error occurred while starting the application.
MissingMethodException: Method not found: 'Void Microsoft.Net.Http.Headers.MediaTypeHeaderValue..ctor(System.String)'.
WebApiContrib.Core.Formatter.Csv.CsvFormatterMvcBuilderExtensions+<>c.<AddCsvSerializerFormatters>b__1_0(FormatterMappi

[2017-10-17 21:18] damienbod commented on #111
@rmccabe24
Hi Robert If you can't use the .NET Standard 2 version, with the version 1.0.3, you can reference the net451 version directly in your project and it will work.

Greetings Damien

[2017-10-17 21:20] damienbod commented on #87
@FrancoisM  I plan to fix this at the weekend

[2017-10-17 21:41] rmccabe24 commented on #111
I'm trying to use it in a net4.6.2 (I'm tied into this project type) - so cant change to .net Standard 2.  There's no other version of your lib that's supported with .net Framework?

[2017-10-18 04:02] damienbod commented on #111
The nuget package 1.0.3 has 2 dlls. If you open the csproj file, remove the csv. Then add the proper dll directly. For some reason the wrong dll is used.

Greetings Damien

[2017-10-18 06:14] FrancoisM commented on #87
Don't harcode the string for encoding but make it a parameter of the ctor of your formatter or even better a field of CsvFormatterOptions.

[2017-10-18 07:55] rmccabe24 commented on #111
Hi Damien, it isn't overly clear what needs to be done or how to do it so I will have to look to use an alternative solution to csv output, unfortunately.  Thanks anyway.

[2017-10-18 14:41] damienbod commented on #111
Ok, you could also use the code directly :)

[2017-10-27 09:54] kentico-jiris commented on #111
FYI I have the same problem, with Jsonp
.net sdk version: 2.0
targeting: net47
WebApiContrib.Core.Formatter.Jsonp version: 1.0.0

[2017-10-29 08:02] damienbod commented on #87
thanks, will do

[2017-10-29 17:10] damienbod commented on #87
fixed in 2.0.2

https://www.nuget.org/packages/WebApiContrib.Core.Formatter.Csv/

Thanks reporting

[2017-11-04 12:17] dracan opened #115 "MissingMethodException for MediaTypeHeaderValue.Parse(string)"
Hi. I've just updated my project to ASP.NET Core 2.0 (from Core 1), which was using `WebApiContrib.Core.Formatter.Bson`. Whilst it compiles successfully - at runtime I get the exception below.

I've tried both the version on nuget, and compiling the very latest master version.

Is this currently supported for Core 2.0? All I need to to support BSON media type in my API. Thank you for any help,

[c

[2017-11-05 09:09] dracan commented on #115
I've ended up just copying the relevant bson input formatter class out into my project and changing that method call, which now works. As this library doesn't seem to yet support 2.0, then I guess feel free to close this case ¯\_(ツ)_/¯

[2017-11-05 15:55] seccijr commented on #111
For those receiving the error _System.AggregateException : One or more errors occurred. (Method not found: 'Microsoft.Net.Http.Headers.MediaTypeHeaderValue Microsoft.Net.Http.Headers.MediaTypeHeaderValue.Parse(System.String)'_ when running Test project please add explicitly reference to Microsoft.AspNetCore.Mvc and Microsoft.AspNetCore.StaticFiles to your dependencies:

[code]
Do it in your csproj

[2017-11-15 13:56] ckarcz opened #116 "[AspNetCore2] Startup fails w/ WebApiContrib.Core.Formatter.Yaml v2.0.0"
Note I am on new v2.0.1 AspNetCore NuGet libraries. I installed Yaml formatter after, so I cannot be certain its due to incompatability.

-Cheers

Exception w/ stack:
`
System.MissingMethodException occurred
  HResult=0x80131513
  Message=Method not found: 'Void Microsoft.Net.Http.Headers.MediaTypeHeaderValue..ctor(System.String)'.
  Source=WebApiContrib.Core.Formatter.Yaml
  StackTrace:
   at Web

[2017-11-16 22:28] iAlexanderMoon opened #117 "Extensions for IMvcCoreBuilder"
Currently there are extensions for IMvcBuilder however if startup is onc configured with services.AddMvcCore and the builder is an IMvcCoreBuilder the extensions are not available. Is there a technical reason for this? Is there another way to call the existing extension I'm missing or would these extensions need to be added?

[2017-11-16 22:31] filipw commented on #117
no, they would have to be added. Even MVC itself ships with many extension methods added twice, for both builders

[2017-11-16 23:21] iAlexanderMoon commented on #117
Would you like a PR?

[2017-11-17 06:56] filipw commented on #117
sure!

[2017-12-10 11:08] xperiandri commented on #115
Same thing for `services.AddMvc(options => options.InputFormatters.Add(new PlainTextInputFormatter()));`
It needs to be recompiled for Core 2.0

[2017-12-30 18:25] HaroonSaid opened #118 "OData WebAPI Core Beta1"
Getting error with swagger:
No media types found in 'Microsoft.AspNet.OData.Formatter.ODataOutputFormatter.SupportedMediaTypes'. Add at least one media type to the list of supported media types

[2018-01-09 23:58] derrickcrowne opened #119 "WebApiContrib.Core.Formatter.Protobuf - Can't configure RuntimeTypeModel"
I use a surrogate to add support for DateTimeOffset to protobuf-net, such as this:

`RuntimeTypeModel.Default.Add(typeof(DateTimeOffset), false).SetSurrogate(typeof(DateTimeOffsetSurrogate));`

The input and output formatters create their own RuntimeTypeModels but don't provide any access to change the configuration.

[2018-02-19 17:34] HappyNomad opened #122 "Bson formatter throws MissingMethodException in Asp.NET Core 2.0 project"
In Startup.cs, I added `using WebApiContrib.Core.Formatter.Bson;` and in `ConfigureServices` I chained `.AddBsonSerializerFormatters()` onto `services.AddMvc()`.  But `Startup.Configure`'s call to `UseMvc` then throws this exception:

System.MissingMethodException
  HResult=0x80131513
  Message=Method not found: 'Microsoft.Net.Http.Headers.MediaTypeHeaderValue Microsoft.Net.Http.Headers.MediaTypeH

[2018-02-20 07:14] filipw commented on #122
this is resolved in https://github.com/WebApiContrib/WebAPIContrib.Core/pull/121 I will push the packages today

[2018-02-20 07:14] #108 closed

[2018-02-23 11:40] dmitriy-shleht opened #123 "Quotes are not escaped (CSV formatters)"
Hi,
For csv file needs double quotes to be escaped (by using another set of double quotes), because the double quote by itself denotes the boundaries of a field.

Here is a complete explanation including specific references to Excel handling: http://www.csvreader.com/csv_format.php

From Wikipedia: http://en.wikipedia.org/wiki/Comma-separated_values

`1997, Ford, E350, "Super, ""luxurious"" truck"

[2018-02-26 15:35] sonphnt opened #124 "UTF-8 issue in CSV file"
Hi,

I have returned successfully csv file to client but it does not work with unicode character such as "ø", "å"

Do we have a setting for this? I am using .net core 2.0

Thanks

[2018-02-26 15:51] damienbod commented on #124
@sonphnt This should work, I will validate

Thanks for reporting

[2018-02-26 15:53] damienbod commented on #123
@dmitriy-shleht Thanks for reporting. Will look into this, fix it, or add an optional configuration for this

[2018-02-26 20:11] dmitriy-shleht commented on #123
Ok. In my spare time I will do it

[2018-03-07 10:22] paulvanbladel opened #126 "UseBranchWithServices extension method is not working with branched mvc apps."
filip's original sample of the UseBranchWithServices feature doesn't work any longer when using the extension method from WebApiContrib.Core
Following sample clearly illustrates/reproduces the problem.
https://github.com/paulvanbladel/aspnetcore-parallel-pipelines

[2018-03-07 17:42] filipw commented on #126
This is a bug in controller discovery.
You could workaround it by explicitly adding your assembly to MVC controller discovery (`AddApplicationPart(typeof(MyApiController).Assembly);`).

[code]

[2018-03-07 17:44] filipw commented on #126
An even more elegant version would be:

[code]

And then you can just do:

[code]

[2018-03-07 19:19] #122 closed

[2018-03-07 19:19] filipw commented on #116
This has been resolved

[2018-03-07 19:19] #116 closed

[2018-03-08 07:39] paulvanbladel commented on #126
Hey Filip,
That's a great workaround. Thanks a lot.
While it solves the issue in the project itself, the integration test project (making use of TestHost) cannot resolve services correctly when using UseBranchWithServices().
There is a second git branch called unittest-problem in
https://github.com/paulvanbladel/aspnetcore-parallel-pipelines, which demonstrates the problem.
Cheers
paul.

[2018-03-08 07:51] filipw commented on #126
The other scenario you have:

[code]

doesn't work *by design*. Each branch has its own dedicated service provider which is different from the global service provider (that the test host surfaces).

[2018-03-09 07:11] paulvanbladel commented on #126
Sure, I see. Thanks a lot.

[2018-03-21 20:49] lehne commented on #119
I think I'm running into this as well. Not deserializing properly and I think this is the issue.

[2018-03-21 20:59] lehne commented on #119
Actually, just figured it out. The Model is available statically. Just add this:
`ProtobufInputFormatter.Model.Add(typeof(DateTimeOffset), false).SetSurrogate(typeof(DateTimeOffsetSurrogate));`

[2018-03-23 23:48] derrickcrowne commented on #119
Thanks, that worked for me.

[2018-03-23 23:48] #119 closed

[2018-05-15 16:37] #117 closed

[2018-05-17 09:07] piotrkolodziej opened #133 "Fluent configuration support for CsvOutputFormatter"
Hello community,

I would very much like to add 'fluent' configuration support for CsvOutputFormatter. It would work similarly to FluentValidation or EF, and would look like:

Startup.cs

[code]

InvoiceFormatterConfig.cs - a config

[code]

CsvOutputFormatter would use this configuration and would be able to generate CSV based on it. Please let mne know what do you think. I am doing it anyway for

[2018-05-17 12:26] damienbod commented on #133
@piotrkolodziej This would be cool. Would you add an extra extension method?

Greetings Damien

[2018-05-17 12:32] piotrkolodziej commented on #133
@damienbod Let me work on a prototype for few days and reply to your question when I have more details.

[2018-05-18 09:44] piotrkolodziej commented on #133
@damienbod what’s the procedure assuming I have a fork ready to share with you? This is my first contribution and also first time I am dealing with forks. Is it possible to create something similar to pull request so that you will be able to look over the changes?

[2018-05-18 10:05] filipw commented on #133
Yes just push your changes to a new branch in your fork. You will then be able to open a PR from your fork into WebAPIContrib.Core `master`.

As soon as you push a branch with changes to your fork, and navigate to the root of WebApiContrib.Core repo, GH will automatically detect that you have some changes and offer a new button to open a PR.

Alternatively you can always trigger a PR from a fork b

[2018-05-21 04:00] piotrkolodziej commented on #133
Guys, just letting you know that prototype is ready but I will have a 1.5-2 weeks delay because I've got a sinus infection and will be changing location to India. Anyway don't close this topic, this is totally happening :-)

[2018-05-21 13:38] piotrkolodziej opened #134 "WebApiContrib.Core.Razor.csproj using multiple frameworks"
I apologise if this questions sounds stupid but I've been trying to compile the solution on macos and dotnet build throws:

`/usr/local/share/dotnet/sdk/2.1.4/Microsoft.Common.CurrentVersion.targets(1124,5): error MSB3644: The reference assemblies for framework ".NETFramework,Version=v4.5.1" were not found. To resolve this, install the SDK or Targeting Pack for this framework version or retarget y

[2018-05-21 21:34] yongkeecho opened #135 "Flatten custom object json to csv"
Hi, I found the csv formatter flatten custom object as 'object name'. It seems not to like ToString() method. CsvOutputFormatter throws a nullreferenceexception in that case.
And array is shown as 'system.string []'. Is there any way to customize it like '{'test', 'this'}'

[2018-05-22 01:38] piotrkolodziej commented on #135
Although I cannot comment on the existing csv output formatter, I can tell you that the new output formatter is being developed at the moment. Please take a look at the following issue and let me know if that would solve your problem:

https://github.com/WebApiContrib/WebAPIContrib.Core/issues/133

[2018-05-28 22:01] ArcadeRenegade opened #136 "Use GZIP compression with Protobuf?"
Hi,

Is it possible to use GZIP compression with WebApiContrib.Core.Formatter.Protobuf?

I have GZIP compression middleware set up in my ASP.NET Core API app but I can't seem to get Protobuf responses to use GZIP.

I tested and JSON responses are using GZIP as expected.

![image](https://user-images.githubusercontent.com/13874898/40630472-cae7a24a-6287-11e8-994b-7c6c97e6d87f.png)

JSON w/ GZIP

![

[2018-05-29 08:15] khellang commented on #136
If you're talking about Microsoft's Microsoft.AspNetCore.ResponseCompression, you should take a look at how you can add custom content types. See https://docs.microsoft.com/en-us/aspnet/core/performance/response-compression?view=aspnetcore-2.0&tabs=aspnetcore2x#mime-types

[2018-05-30 02:49] ArcadeRenegade commented on #136
Worked! Thanks.

[2018-05-30 02:49] #136 closed

[2018-06-05 09:32] #124 closed

[2018-06-05 09:33] damienbod commented on #123
https://github.com/WebApiContrib/WebAPIContrib.Core/pull/138

[2018-06-05 09:35] #87 closed

[2018-06-12 11:13] piotrkolodziej commented on #133
@damienbod and @filipw , I've finished implementing (and testing) the fluent version of formatters. Let's keep in touch :-)

[2018-06-15 16:24] Gerfaut opened #141 ".NET Core 2.1 Compatibility issue - CsvOutputFormatter CanWriteType returns false"
Hello,

While migrating a project using WebApiContrib.Core.Formatter.Csv library from .NET Core 2.0.X to 2.1.0 we are facing an issue: our API endpoint is returning 406 - Not Acceptable where it was returning 200 - OK before.

I tried to investigate a bit and I think this is only happening if your controller method is returning a Task<List> result.
The CanWriteType is returning false and the Outpu

[2018-06-18 07:52] Gerfaut commented on #141
Hello again,

If I use
[code]

It is working as expected 😄
This could be the quick fix for us for now.

Thanks,

_Gerfaut_

[2018-07-05 20:44] AnthonyMastrean opened #142 "Treat empty columns as empty or null?"
It seems like the parser is treating empty columns as empty, not `null`. So, this model:

[code]

And this example input CSV

[code]

This library will produce an empty string for the 2nd `Message` property. I'd prefer for these to be treated as `null` values.

You might introduce a simple setting into the `CsvFormatterOptions`.

Of course, some CSV handling system developer entire complicated sch

[2018-07-17 02:25] sravimohan opened #143 "Allow tabs as CsvDelimiter"
Right now tabs are not being allowed as csv delimiters as the validation is checking for whitespace.

suggested change:
https://github.com/sravimohan/WebAPIContrib.Core/blob/master/src/WebApiContrib.Core.Formatter.Csv/CsvFormatterMvcBuilderExtensions.cs

Let me know if I can do a PR.

[2018-07-17 02:29] sravimohan opened #144 "Add option to add excel delimiter header meta data"
Adding the option to include "sep ={_options.CsvDelimiter}" as the first line lets the file to be opened directly in excel.

suggested change (line 90):
https://github.com/sravimohan/WebAPIContrib.Core/blob/master/src/WebApiContrib.Core.Formatter.Csv/CsvOutputFormatter.cs.

Pl. let me know if I can do a PR.

[2018-07-17 06:42] filipw commented on #143
Looks good - please open a PR

[2018-07-17 06:42] filipw commented on #144
Thanks - please open a PR

[2018-07-18 03:08] sravimohan commented on #144
Have created the PR . Thank you.

[2018-07-18 03:08] sravimohan commented on #143
Have created the PR . Thank you.

[2018-07-18 13:36] filipw commented on #144
fixed with #145

[2018-07-18 13:36] #144 closed

[2018-07-18 13:36] filipw commented on #143
fixed with #145

[2018-07-18 13:36] #143 closed

[2018-08-02 23:30] antonioortizpola opened #146 "Simple CSV with comas can not be read"
If i generate a string field with comas, it can be serialized fine:

With this class

[code]

And this data:

[code]

The write controller gets the right output:

But, inserting the same test in a request gives the error:

If i remove the ",", everything works fine again.

Of course i had to change my config to use commas as separators:
[code]

On the other hand, it would be great if there could b

[2018-08-08 18:34] bryanjhogan opened #147 "Using CsvFormatter and gzip compression together is not working"
I am working on a .Net Core 2.1.2 Web API application, and using WebApiContrib.Core.Formatter.Csv 2.0.5

My startup.cs looks like this -

[code]
___
If I make a request for a csv by adding the below to my header, it works fine.
`Accept: text/csv`
___
If I make a request for compressed json, it works fine.
[code]
___
BUT, if I make a request for compressed csv, I get back uncompressed csv.
[code]

[2018-08-09 02:11] damienbod commented on #147
thanks, support for this should be added.

[2018-08-09 02:15] damienbod commented on #146
@antonioortizpola Thanks for reporting. I'll see if there is an easy way of doing this.

Greetings Damien

[2018-08-29 19:51] amcorch commented on #126
Should this solution work if the controllers are being loaded from external assemblies?

[2018-08-29 20:16] filipw commented on #126
yes

[2018-08-29 20:32] amcorch commented on #126
I should have left an example.

I created a sample app with the following structure
![image](https://user-images.githubusercontent.com/15364835/44813859-e59e1c80-aba8-11e8-9c91-b9685674bb57.png)

The contents of the files can be seen at: https://gist.github.com/amcorch/0173b2752c97269b7366bb5c920766b7

Every request I make to http://localhost:5000/resource or http://localhost:5000/admindata result

[2018-09-13 14:22] crittag opened #150 "CsvInputFormatter seems very simplistic in its approach to working out what each field is"
The CsvInputFormatter uses a very simplistic method to split directly on the delimiter:

`var values = line.Split(_options.CsvDelimiter.ToCharArray());`

This means that:
1. delimiter characters are included in the split regardless of whether they are within "..." quoted values
2. "..." quoted values are returned including the outer quotes

In addition to this, if there is double-quoted text withi

[2018-09-13 14:41] crittag opened #151 "CsvOutputFormatter does not mitigate agains Spreadsheet Formula Injection"
As CSV files from web applications are frequently downloaded and then opened in Excel (or similar), consideration should be made for the possibility of Formula Injection ([see here](https://www.contextis.com/blog/comma-separated-vulnerabilities))

Mitigation would be to prefix with a single quote (') character wherever a value starts with equals ("="), plus ("+"), minus ("-"), at ("@") or percenta

[2018-09-14 08:01] #141 closed

[2018-09-14 08:06] #111 closed

[2018-09-23 07:03] qcjxberin opened #153 "Direct reference to the project use error, Nuget reference no problem."
the application completed without reading the entire request body.

for messagepack item

[2018-10-01 17:44] filipw commented on #147
@bryanjhogan this is not a limitation of the WebApiContrib formatter, it's just the response compression middleware must be configured to light up for CSV too.  Out of the box, it will only react to HTML/CSS/JS/JSON media types.

This should do the trick:
[code]

[2018-10-01 17:44] #147 closed

[2018-10-01 21:58] bryanjhogan commented on #147
Thanks. Working now.

[2018-10-18 11:55] ttutuncu opened #156 "Can't add AddBsonSerializerFormatters to AddMvcCore"
Hi,

I'm using .Net Core 2.1
We use AddMvcCore to strip off unused Mvc Services. I can't add AddBsonSerializerFormatters() to AddMvcCore(), it only works with AddMvc(). Why is that?

This doesn't work:
[code]

This Works:
[code]

[2018-10-18 12:54] ttutuncu commented on #156
Hi again,

I solved this problem by writing my own extension class. It's very simple actually, I just changed the default extension method to extend IMvcCoreBuilder instead of IMvcBuilder.

`public static class BuilderExtensions
    {
        public static IMvcCoreBuilder AddBsonSerializerFormatters(this IMvcCoreBuilder builder)
        {
            if (builder == null)
            {

[2018-10-24 08:07] #156 closed

[2018-10-30 04:37] huanbd commented on #126
Hi @filipw , Can I customize to have view of controller in branch?

[2018-11-22 11:34] sonphnt opened #162 ".Net Core 2.1.1 get error"
Hi. I have just upgraded .net core 2.0 to 2.1 and got exception with
"'System.Text.UTF8Encoding+UTF8EncodingSealed' is not a supported encoding name. For information on defining a custom encoding, see the documentation for the Encoding.RegisterProvider

In startup.cs file I use this line
`services.AddMvc().AddCsvSerializerFormatters(new CsvFormatterOptions() { Encoding = Encoding.UTF8.ToString() }

[2018-11-22 11:49] sonphnt commented on #162
Remove Encoding = Encoding.UTF8.ToString() then it works but how can I include UTF8 Support?

[2018-11-22 15:05] damienbod commented on #162
I fix this tomorrow, and create a new package tomorrow

[2018-11-23 07:08] damienbod commented on #162
https://www.nuget.org/packages/WebApiContrib.Core.Formatter.Csv/2.1.0

@sonphnt The config option is now:

 .AddCsvSerializerFormatters(new CsvFormatterOptions() { Encoding = Encoding.UTF8 })

Greetings Damien

[2018-11-23 10:18] sonphnt commented on #162
Thanks @damienbod It worked perfectly.

[2018-11-23 10:18] #162 closed

[2018-11-26 16:16] VictorioBerra opened #164 "Is there a way to restrict CSV to only specific controller actions?"
I am using the `AddCsvSerializerFormatters` right now and from what I understand, my entire server will now support CSV input/output. But I want to be more explicit about when this is allowed because I have some pretty complex objects in some of my actions.

[2018-12-22 07:46] AmbroiseCouissin opened #166 "Reload/Refresh dynamically the app with `UseBranchWithServices`"
Hi!

I have been using `UseBranchWithServices` for quite sometime now and it is great.
I'm using it for multitenancy with IdentityServer4. One branch per tenant.

The problem I have is that I want to create new tenants dynamically without restarting the app.

For example, if I want to add new branches with newly created tenants every 15s, I could do something like this:

[code]

But this doesn't s

[2019-01-02 08:15] filipw opened #167 "embed license in Nuget packages"
License should be embedded into packages, instead of using a license URL.

[2019-03-10 15:02] filipw opened #174 "Document the new extension methods"
Added in #173

It would be good to add:
 - [ ] comments in the code
 - [ ] some samples to the repo

[2019-04-03 13:32] nmehlei opened #175 "Migrate CompressedContent"
Maybe I just didn't find it, but this seems to be a very nice functionality from the original WebAPIContrib project, so it should make sense to migrate it to WebAPIContrib.Core. Or was this a deliberate decision, for example, because of missing functionality in .NET Standard?

[2019-05-24 16:49] DJackman123 opened #176 "UseBranchWithServices leaves the HttpContext with a disposed service provider when the scope finishes"
When the scope is created in UseBranchWithServices, it changes the context.RequestServices service provider to be the scope's service provider instead then proceeds with the rest of the pipeline.  This is fine, but when the scope is done that service provider is disposed and any middleware in the pipeline *before* the branch will be stuck with a context whose RequestServices is disposed.  The code

[2019-09-21 17:16] Exocomp opened #183 "ProtobufOutputFormatter error with large integers"
**Summary**: ProtobufOutputFormatter modifies the original bytes generated by protobuf.net resulting in decode error with protobufjs.

**Server**: WebApiContrib.Core.Formatter.Protobuf 2.1.2
**Client**: Angular 8.1.0, protobufjs 6.8.8

**C# Class**:

[code]

**Proto File**:
[code]

**Object to Encode**:

[code]

When the above object is encoded by protobuf.net it results with the following bytes:

[2019-09-22 03:32] damienbod commented on #183
Hi @Exocomp This is a bug in version 2.1.2

https://stackoverflow.com/questions/2152978/using-protobuf-net-i-suddenly-got-an-exception-about-an-unknown-wire-type

I will fix this a s soon as possible. As a workaround, revert to version 2.1.1

[2019-09-22 22:01] damienbod commented on #183
fixed now in version 2.1.3

[2019-09-23 05:22] #183 closed

[2019-10-08 20:24] runxc1 opened #185 "JsonP on asp.net core 3.0?"
I see that one of the formatters has been updated to version 3.0 and am wondering what the story is for JsonP in asp.net core 3.0.   Do you still need your own formatter or is it built in now?

[2019-10-21 14:58] lkishor opened #187 "Input-Output Formatter for csharp (.Net Core)"
I am looking for a Formatter that supports Reading and Writing data from .cs files generated using .proto files.
But the only available option seems to be **WebApiContrib.Core.Formatter.Protobuf** which uses protbuf-net.
Is it possible to add another package that supports google's Protocol Buffers the way it is?

This is being done by Microsoft with gRPC, But I am thinking of a Middle-ground, wher

[2019-10-21 14:59] lkishor commented on #187
This may be a helpful start:
[https://github.com/dotnet/orleans/pull/1174/commits/e579079e2bf0a41d5f32126b3b4f678b9f5ac2b0](url)

[2019-10-31 20:17] haacked opened #190 "Log Output Does Not Work for Application Paths When Using ParallelApplicationPipelinesExtensions"
When using [`ParallelApplicationPipelinesExtensions`](https://github.com/WebApiContrib/WebAPIContrib.Core/blob/master/src/WebApiContrib.Core/ParallelApplicationPipelinesExtensions.cs), log messages originating from an application path do not show in the console.

## Repro Steps

1. Clone https://github.com/WebApiContrib/WebAPIContrib.Core/
2. Make the following edit to [`WelcomeService.cs`](https:

[2019-10-31 20:19] haacked commented on #190
Note that I also tested this on ASP.NET Core 3.0 and it still doesn't work.

[2019-11-04 17:30] haacked commented on #190
Ok, I figured out a fix for my scenario, but it applies to asp.net core 3.0. I haven't investigated a asp.net core 2* fix.

Here's the change to make in https://github.com/WebApiContrib/WebAPIContrib.Core/blob/master/src/WebApiContrib.Core/ParallelApplicationPipelinesExtensions.cs

[code]

This sets up logging correctly.

[2020-01-12 08:21] windischb opened #191 "UseBranchWithServices - share some Services between branches"
Hi!

Is it possible to share some of the registered Services between to branches?
I have a Singleton which have to be available in all of my branches without to inject it in both branches as seperate Singleton...

Is there something like a Dependency Tree or similar?
Where all Services, which are injected in the ConfigureServices of the Startup class, are available in all branches?

Br
Bernhard

[2020-01-21 16:20] JohnGalt1717 opened #192 "Remove Newtonsoft Dependency for .NET Core 3.x"
Now that Newtonsoft is depreciated it would be great if we could get it removed of abstracted out from this library.

[2020-03-10 17:06] DJackman123 opened #195 "Strong-name sign the assembly"
Would it be possible to strong-name sign the WebAPIContrib.Core assembly that's published to NuGet.org?  Our team has a requirement that all assemblies in our product, including dependencies, must be strong-name signed.

[2020-03-21 17:51] khellang commented on #195
Why would you have such a requirement? 🤔

[2020-03-21 17:58] filipw commented on #195
that's the hill I might die on 😊

[2020-03-30 08:54] sanderobdeijn opened #197 "Date formating when exporting csv"
I have a datetime field and when it exports to csv the format of the date field is in US notation. Is it possible to set the locale on the export?

[2020-04-02 17:26] twsouthwick opened #198 "Csv output formatter fails when Linq chain"
I am using v3.0.0 of the Csv output formatter. However, I saw the following issue:

[code]

The result of this is:

[code]
when I would expect

[code]

[2020-04-02 20:07] twsouthwick opened #200 "CsvOutputFormatter is hardcoded to check JsonPropertyAttribute"
This forces Newtonsoft.Json to be included, which, as of .NET Core 3.0, is not required. Instead of hardcoding it, maybe the following can be added:

[code]

and this can be searched for the first non-null instance.

[2020-04-02 20:11] twsouthwick opened #201 "CsvOutputFormatter only works for IEnumerable objects"
Looks like there is a check for if a result is IEnumerable while determining if the formatter applies. Is there a reason to require this? Can it just output an item in a single list?

[2020-04-10 03:53] preeder commented on #201
This might be related to my pull request, which allows non-IEnumerable<T> results to still produce a header row.  See https://github.com/WebApiContrib/WebAPIContrib.Core/pull/204

[2020-08-07 12:40] matteus6007 opened #208 "CsvInputFormatter only gets properties by index not name"
When setting the property value it selects the property by index:

`properties[i].SetValue(item, Convert.ChangeType(values[i], properties[i].PropertyType), null);`

If you have set `UseSingleLineHeaderInCsv` then it should get property by name `item.GetProperty("propertyName")`, this allows for the headers to be in a different order to how the properties are ordered.

[2020-08-17 06:12] devindran opened #209 "TypeModel.Create is obsolete with latest protobuf-net (3.0.29)"
Hi,

I started to get runtime errors after updating to the latest protobuf-net version. After compiling your code locally I see that the TypeModel.Create() method has been marked as obsolete and needs to be replaced with RuntimeTypeModel.Create().

After I replaced it in the ProtobufInputFormatter.cs and ProtobufOutputFormatter.cs, it is working correctly.

[2020-08-17 13:28] #209 closed

[2020-09-10 15:33] patzila opened #211 "CsvInputFormatter throws exception for nullable reference types"
The exception is thrown everytime csv data is received if the model it's trying to parse contains nullable reference types.

I have a model like this
[code]

sample CSV to parse
[code]

The exception thrown
[code]

Can support for nullable reference types be added?

[2020-09-11 15:25] damienbod commented on #211
@patzila yes, this sounds like a good idea. Will see if I can add this, unless you would like to do a PR youself.

Greetings Damien

[2020-09-11 16:48] patzila commented on #211
If you can take a crack at it first that would be great :)

[2020-09-17 09:22] ZajacPiotr98 opened #212 "Error with BadRequest(ModelState)"
When I try to return BadRequest with ModelStateDictionary using your package, app crashes. I think, app does infinitive loop in:

[code]
It called BadRequest(ModelStateDictionary), so itself

[2021-06-21 20:26] arivera12 opened #214 "[CSV] Why we are not using IEnumerable<T> instead of IList<T>/List<T> to controller method parameter?"
If we target `IEnumerable<T>` then we can convert to any collection instead of only `List<T>` type

[2021-07-28 09:36] M-AV opened #215 "Protobuf formatter: No response with large results"
I have an ASP.NET Core Web Api (.NET 5) using the Protobuf formatter to serialize responses. When my controller returns a large amount of data the client gets a **`200 OK`** response, but no data.

I reproduced it by creating a new empty web api project (running locally with iisexpress). Adding version 3.0.0 of WebApiContrib.Core.Formatter.Protobuf and configuring it in the Startup like this:

[co

[2022-02-01 16:23] #118 closed

[2022-03-30 20:41] code-sport opened #216 "Support of .Net 6"
Is there any plan to support also .Net6?

[2022-04-11 06:47] lakeman commented on #198
[This](https://github.com/WebApiContrib/WebAPIContrib.Core/blob/69454866f6603c4385eac340f1e84b07d9d022d3/src/WebApiContrib.Core.Formatter.Csv/CsvOutputFormatter.cs#L74
) test is wrong.

Many linq operations return a class with [multiple](https://github.com/dotnet/runtime/blob/2087c07830770d3c7b8e8452e42a398b16ac0a0b/src/libraries/System.Linq/src/System/Linq/Select.cs#L58) generic type arguments. S

[2022-09-06 22:20] chrisdreams13 commented on #216
It appears no.

[2022-09-12 14:50] dstahl-axion opened #231 "Is this project still maintained? (I want to submit a PR for Protobufs)"
Hi, I wanted to see if this project was still maintained?

I noticed that your protocol buffer formatters will let me specify a Surrogate for the Incoming types, but the outgoing formatters do not have such an option. Our project returns an object with a `DateTimeOffset` and requires a surrogate to serialize it. I've got working code that copies your surrogate configuration from the Input formatte